<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>565706866853-as79f9unkc57akbm5m0m0i0prnrlpmi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565706866853-as79f9unkc57akbm5m0m0i0prnrlpmi5</string>
	<key>API_KEY</key>
	<string>AIzaSyCYqs1AbT8a6JHOYs2tOQvNvTxtZdjReWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>565706866853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.furtado.fastbuy</string>
	<key>PROJECT_ID</key>
	<string>fastbuy-fd9d7</string>
	<key>STORAGE_BUCKET</key>
	<string>fastbuy-fd9d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565706866853:ios:db1b7473718c0ff3</string>
	<key>DATABASE_URL</key>
	<string>https://fastbuy-fd9d7.firebaseio.com</string>
</dict>
</plist>